//START FOOTER
footer {
  &.landing-page {
    
    
    .footer-top {
      font: 600 16px ProximaNova;
      background-color: #eee;
      padding: 3vw;
      ul {
        display: inline-block;
        vertical-align: top;
        margin-right: 3vw;
        span {
          color: #1189d9;
        }
        li {
          font: 600 14px;
          padding-top: 1vw;
        }
      }
    }
    .footer-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 2vw 3vw;
      .left-side {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 49% !important;
        .social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 0.5vw;
        &>div {
          display: flex;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 5px;
          border: 1px solid #3b5998;
          margin-left: 1vw;
          i {
              margin: auto;
            }
          &.facebook {
            
            i:before {
              color: #3b5998;
            }
          }
          &.vk {
            border-color: #45688e;
            i:before {
              color: #45688e;
            }
          }
          &.ok {
            border-color: #f6881f;
            i:before {
              color: #f6881f;
            }
          }
        }
      }
      }
      .right-side {
        display: inline-flex;
        flex-direction: row-reverse;
        width: 49%;
      }
    }
  }
}
//END FOOTER