 	//START HEADER 
  header
  {
  	&.landing-page
  	{
  		background: transparent;
  		position: fixed;
  		width: 100%;
  		display: flex;
  		transition: all 0.8s ease;
  		.wrapper
  		{
  			//        width: 90%;
  			margin: auto;
  			height: 95px;
  			display: flex;
  			flex-direction: row;
  			justify-content: space-between;
  			align-items: center;
  			.logo
  			{
  				margin-left: 2%;
  				img
  				{
  					height: 1.5vw;
  					width: 6vw;
  				}
  			}
  			.right-side
  			{
  				width: calc(100% - 10%);
  				display: flex;
  				align-items: center;
  				flex-direction: row;
  				justify-content: flex-end;
  				.lang
  				{
  					button
  					{
  						box-shadow: none;
  						border: none;
  						background: transparent;
  						color: #fff;
  						font: 400 14px ProximaNova;
  						span
  						{
  							margin-left: 10px;
  							i
  							{
  								color: #ffffff;
  							}
  							i:before
  							{
  								font-size: 12px;
  							}
  						}
  					}
  					ul
  					{
  						min-width: 80px !important;
  					}
  				}
  				.enter
  				{
  					margin: 0 2%;
  					a
  					{
  						color: #fff;
  						font: 700 14px ProximaNova;
  					}
  				}
  				.button
  				{
  					&.transparent
  					{
  						margin-left: 2%;
  					}
  				}
  			}
  		}
  	}
  	&.fixed-scroll,
  	&.open-modal-header
  	{
  		background: #fff;
  		box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.25);
  		z-index: 10000;
  		transition: all 0.8s ease-out;
  		//	  transition-delay: 0.5s;
  		.wrapper
  		{
  			.right-side
  			{
  				.lang
  				{
  					button
  					{
  						color: #000;
  						span
  						{
  							i
  							{
  								color: #000;
  							}
  						}
  					}
  				}
  				.enter
  				{
  					a
  					{
  						color: #000;
  					}
  				}
  				.button.transparent
  				{
  					border-color: #2ecc71;
  					a
  					{
  						color: #2ecc71;
  					}
  				}
  				.button.transparent:hover
  				{
  					border-color: rgb(42, 185, 102);
  					background: rgba(42, 185, 102, 0.1);
  					a
  					{
  						color: #2ab966;
  					}
  				}
  			}
  		}
  	}
  	&.open-modal-header
  	{
  		transition: all 1.8s ease-out;
  		box-shadow: none;
  		position: absolute;
  		top: 0;
  		left: 0;
  		right: 0;
  	}
  }
 	header.open-modal-header + main .banner
 	{
 		margin-top: 100%;
 		transition: all 1.8s ease-out;
 	}
 	//END HEADER
