			@import "reset";
			@import "header";
			@import "footer";
			@import "media";
			body {}
			main
			{
				.section-top {
					overflow: hidden;
					max-height: 100vh;
				}
				.banner
				{
					background: url(../images/landing-banner.png) top left no-repeat;
					background-size: cover;
					height: 100vh;
					margin-top: 0;
					transition: all 0.8s ease;
					.baner-wrapper
					{
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 100vh;
					}
					.banner-inner
					{
						margin: auto;
						text-align: center;
						h1
						{
							color: #ffffff;
							//				font: 700 60px RobotoCondensed;
							font: 700 60px RobotoCondensed;
							margin: auto;
						}
						.input-group
						{
							width: 55%;
							max-width: 555px;
							margin: 3% auto;
							input,
							button
							{
								height: 55px;
								border-radius: 10px;
							}
							button
							{
								width: 67px;
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
								background: -webkit-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
								background: -moz-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
								background: -o-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
								background: -ms-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
								background: linear-gradient(0deg, #2ecc71 0%, #37e581 100%);
								i
								{
									color: #fff;
								}
								i:before
								{
									font-size: 18px;
								}
							}
							input
							{
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
								color: #7d7d7d;
								font: 400 16px ProximaNova;
								padding-left: 3%;
								width: calc(100% - 175px);
								border: 0;
							}
							.btn-group
							{
								width: 175px;
								background: #e7e7e7;
								button
								{
									border-radius: 0;
									background: none;
									border: 0;
									width: 100%;
									text-align: left;
									overflow: hidden;
									color: #000;
									font: 400 14px ProximaNova;
									span
									{
										float: right;
										margin-right: 5%;
										i
										{
											color: #7d7d7d;
										}
										i:before
										{
											font-size: 16px;
										}
									}
								}
								.dropdown-menu
								{
									width: 175px;
									margin-top: -1px;
									border-top-right-radius: 0;
									border-top-left-radius: 0;
									a
									{
										font: 400 16px ProximaNova;
										padding: 4% 10%;
									}
								}
							}
						}
					}
				}
				.masters
				{
					padding: 3vw;
					text-align: center;
					background: #fcfcfc;
					position: relative;
					.row
					{
						position: relative;
					}
					h2
					{
						color: #000000;
						font: 700 30px RobotoCondensed;
						//			margin: 60px auto;
					}
					.masters-slider
					{
						margin-top: 3vw;
						overflow: hidden;
						.master
						{
							box-shadow: 0px 7px 35px 0.00px rgba(0, 0, 0, 0.07);
							border-radius: 10px;
							display: flex;
							flex-direction: column;
							align-content: center;
							align-items: center;
							padding: 20px;
							img
							{
								//					height: 66px;
								height: 8vw;
								//					width: 96px;
								width: 10vw;
								margin: 1vw;
							}
							.name-sto
							{
								color: #000;
								font: 700 16px ProximaNova;
								margin-bottom: .8vw;
							}
							.stars
							{
								margin-bottom: .3vw;
								li
								{
									display: inline-block;
									i:before
									{
										color: #f1c40f;
									}
								}
							}
							.evaluation
							{
								font-size: 12px;
							}
							.location
							{
								text-align: center;
								margin: 1.5vw auto;
							}
						}
						.slick-arrow
						{
							top: calc(3vw + 30px);
							right: 7vw;
							position: absolute;
							height: 55px;
							line-height: 3.5;
							width: 4vw;
							border: 1px solid #ccc;
							border-bottom-left-radius: 10px;
							border-top-left-radius: 10px;
							background: #fff;
							i
							{
								color: #58d68d;
							}
						}
						.slick-next
						{
							right: 3vw;
							border-bottom-left-radius: 0;
							border-top-left-radius: 0;
							border-bottom-right-radius: 10px;
							border-top-right-radius: 10px;
						}
					}
				}
				.advantages
				{
					background-color: #f8f8f8;
					padding: 0 2vw;
					overflow: hidden;
					.advantage
					{
						font: 700 16px ProximaNova;
						text-align: center;
						padding: 3vh;
						img
						{
							width: 173px;
							height: 171px;
							margin: 2vh auto 3vh;
						}
						.description
						{
							font-weight: 300;
							margin-top: 2vh;
						}
					}
				}
				.last-orders
				{
					padding: 3vw;
					text-align: center;
					background-color: #fcfcfc;
					h2
					{
						font: 700 30px RobotoCondensed;
					}
					.order
					{
						text-align: left;
						font: 300 16px ProximaNova;
						padding: 3vw;
						margin: 3vw 0;
						border-radius: 10px;
						box-shadow: 0px 7px 35px 0.00px rgba(0, 0, 0, 0.07);
						background-color: #fff;
						position: relative;
						overflow: hidden;
						.order-slatus
						{
							display: none;
							background-color: #f56a4b;
							padding: 0.5vw 3vw;
							position: absolute;
							width: 100%;
							top: 0;
							left: 0;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
							span
							{
								color: #fff;
								margin: auto 0;
							}
							img
							{
								margin-right: 1vw;
							}
						}
						.order-slatus.urgent
						{
							display: flex;
							align-content: center;
							align-items: center;
						}
						.order-slatus.urgent + .left-side h4,
						.order-slatus.urgent ~ .right-side .cost
						{
							margin-top: 30px;
						}
						.left-side
						{
							width: 75%;
							float: left;
							h4
							{
								font-weight: 600;
								font-size: 20px;
							}
							.description
							{
								padding: 1vw 0 1.5vw;
								a
								{
									color: #2ecc71;
								}
							}
							.order-info
							{
								display: flex;
								align-items: center;
								li
								{
									align-items: center;
									display: flex;
									margin-right: 3vw;
									font-weight: 700;
									i:before
									{
										color: #3498db;
										margin-right: 1vw;
									}
								}
							}
						}
						.right-side
						{
							width: 25%;
							float: left;
							font: 400 1.3vw ProximaNova;
							text-align: right;
							.cost
							{
								margin-bottom: 1.5vw;
								.budget
								{
									font: 400 15px ProximaNova;
								}
								.sum
								{
									color: #1189d9;
									font: 700 24px ProximaNova;
									margin-left: .3vw;
								}
							}
							.button.green
							{
								width: 125px;
								visibility: hidden;
							}
							.user
							{
								margin-top: 0.7vw;
								display: flex;
								flex-direction: row-reverse;
								align-items: center;
								align-content: flex-end;
								img
								{
									height: 43px;
									width: 43px;
									margin-right: 1vw;
								}
								.user-name
								{
									font: 400 15px ProximaNova;
								}
							}
						}
					}
					.order:hover
					{
						.button.green
						{
							visibility: visible;
						}
					}
				}
			}
			// -----------------------
			//	Для всех 
			// -----------------------
			.button
			{
				width: 165px;
				height: 40px;
				border-radius: 5px;
				display: inline-block;
				text-align: center;
				a
				{
					display: block;
					height: 100%;
					color: #ffffff;
					font: 700 14px ProximaNova;
					span
					{
						line-height: 3;
					}
				}
				input
				{
					width: 100%;
					border: none;
					background-color: transparent;
					color: #fff;
					line-height: 3;
				}
				&.green
				{
					background: -webkit-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
					background: -moz-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
					background: -o-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
					background: -ms-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
					background: linear-gradient(0deg, #2ecc71 0%, #37e581 100%);
				}
				&.transparent
				{
					border: 3px solid #fff;
					margin-left: 2%;
					span
					{
						line-height: 2.5;
					}
				}
				&.transparent.grey
				{
					border-color: #a0a0a0;
					a
					{
						color: #a0a0a0;
					}
				}
				&.grey
				{
					background: #ededed;
					width: 109px;
					a
					{
						color: #474747;
					}
					i
					{
						margin-right: .5vw;
					}
				}
				&:hover
				{
					&.green
					{
						background: -webkit-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
						background: -moz-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
						background: -o-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
						background: -ms-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
						background: linear-gradient(90deg, #2abd68 0%, #30c670 100%);
					}
					&.grey
					{
						background: #dadada;
					}
					&.transparent.grey
					{
						border-color: #8d8d8d;
						a
						{
							color: #8d8d8d;
						}
					}
					&.transparent {
//						border-color: #dadada;
						background: rgba(218, 218, 218, 0.3);
						a {
//							color: #dadada;
						}
					}
				}
			}
			.parameters
			{
				margin-top: 3vw;
				text-align: left;
				.city,
				.category
				{
					width: 100%;
					button,
					ul
					{
						width: 100%;
						text-align: left;
						overflow: hidden;
						color: #000;
						font: 400 16px ProximaNova;
						i
						{
							float: right;
						}
					}
					button
					{
						height: 55px;
					}
				}
				.category
				{
					ul
					{
						width: 150%;
						min-width: 850px;
						-moz-column-count: 3;
						/* Для Firefox */
						-webkit-column-count: 3;
						/* Для Safari и Chrome */
						column-count: 3;
						-webkit-column-gap: 0;
						/* Chrome, Safari, Opera */
						-moz-column-gap: 0;
						/* Firefox */
						column-gap: 0;
						padding: 10px 10px 10px 0;
					}
				}
			}
			.orders-list
			{
				padding: 3vw 0;
			}
			.last-orders .button.transparent.grey
			{
				width: 190px !important;
			}
			.modal-win
			{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, 50%);
				&.enter,
				&.clientReg,
				&.masterReg,
				&.kind-of-registration
				{
					width: 100%;
					min-height: 100vh;
					background-color: #fff;
					display: none;
					top: 0;
					left: 0;
					z-index: 1000;
					transform: none;
					padding-top: 8vw;
					padding-bottom: 2vw;
					text-align: center;
					font: 700 16px ProximaNova;
					.row
					{
						position: relative;
					}
					h2
					{
						font: 700 30px RobotoCondensed;
						margin-bottom: 2vw;
					}
					.close-modal
					{
						height: 40px;
						width: 40px;
						line-height: 38px;
						border-radius: 50%;
						border: 1px solid #efefef;
						position: absolute;
						top: 0;
						right: 0;
						cursor: pointer;
						i:before
						{
							color: #efefef;
						}
					}
					form
					{
						overflow: hidden;
						width: 360px;
						border-radius: 10px;
						border: 1px solid #efefef;
						margin: 0 auto;
						padding: 2vw;
						h3
						{
							padding: 1vw 0;
						}
						.line-bt
						{
							height: 1px;
							width: 100%;
							background-color: #efefef;
							margin: 2vw 0;
						}
						.social
						{
							display: flex;
							align-items: center;
							.social-inner
							{
								margin: auto;
								display: flex;
								.vk
								{
									background-color: #45688e;
								}
								.ok
								{
									background-color: #f6881f;
								}
							}
							.social-inner > div
							{
								display: flex;
								align-items: center;
								border-radius: 50%;
								height: 45px;
								width: 45px;
								background-color: #3b5998;
								margin: 0.5vw;
								i
								{
									margin: auto;
								}
								i:before
								{
									color: #fff;
									font-size: 18px;
								}
							}
						}
						.input-field
						{
							width: 95%;
							min-width: 28px;
							margin: 0 auto 2vh;
							input
							{
								border-radius: 10px;
								height: 45px;
								border: 1px solid #efefef;
								width: 100%;
								padding: 0 10px;
							}
						}
						.forgot-pasword
						{
							a
							{
								font: 600 12px ProximaNova;
								color: #000;
							}
							text-align: center;
							margin: 0 auto 30px;
						}
						.button.green
						{
							input
							{
								height: 40px;
								line-height: 2.5;
							}
						}
					}
				}
				&.clientReg,
				&.masterReg
				{
					
					padding-top: 120px;
					h2,
					h3
					{
						margin-bottom: 1vw;
					}
					h3
					{
						font: 300 18px ProximaNova;
						width: 678px;
						margin: auto;
					}
					form
					{
						width: 751px;
						margin-top: 2vw;
						padding: 0;
						.form-header
						{
							border-bottom: 1px solid #efefef;
							padding: 1vw 0;
							position: relative;
							.step
							{
								width: 43%;
								display: inline-block;
								.general-info,
								.client-info
								{
									border-radius: 50%;
									border: 2px solid #e5e5e5;
									height: 39px;
									width: 39px;
									margin: auto;
									span
									{
										color: #e5e5e5;
										font: 700 16px ProximaNova;
										line-height: 2;
									}
								}
								p
								{
									padding-top: 1vw;
									font-weight: 400;
									color: #e5e5e5;
								}
							}
							.step.active
							{
								.general-info,
								.client-info
								{
									border-color: #4a9cde;
									span
									{
										color: #4a9cde;
									}
								}
								p
								{
									color: #000;
								}
							}
							.step.step2.active + .progress,
							.step.step3.active + .progress
							{
								background: #4a9cde;
							}
							.progress
							{
								height: 3px;
								background: #e5e5e5;
								width: 264px;
								position: absolute;
								left: 50%;
								top: 33%;
								transform: translate(-50%, -50%);
							}
						}
						.form-content
						{
							padding: 2vw;
							.has-success
							{
								border-color: rgba(56, 196, 116, 0.61);
							}
							.has-error
							{
								border-color: rgba(196, 56, 56, 0.61);
							}
							#content1,
							#content2,
							#masterContent1,
							#masterContent2
							{
								overflow: hidden;
								.input-field
								{
									float: left;
									width: calc(50% - 2vw);
									margin: 0 1vw .8vw;
									input
									{
										padding: 0 1vw;
									}
								}
								.button
								{
									margin-top: 1vw;
								}
							}
							#content2,
							#masterContent2
							{
								display: none;
								.input-field
								{
									float: none;
								}
								.area
								{
									width: calc(50% - 2vw);
									height: 45px;
									display: block;
									margin: 0 1vw .8vw;
									button
									{
										width: 100%;
										height: 45px;
										border-radius: 10px;
										border: 1px solid #efefef;
										color: #949494;
										font: 700 16px ProximaNova;
										text-align: left;
										span
										{
											float: right;
										}
									}
									.dropdown-menu
									{
										width: 100%;
									}
								}
								.green
								{
									width: 202px;
									margin-left: .5vw;
									a
									{
										font-size: 14px;
									}
								}
								.photo
								{
									float: right;
									margin: 2.5vw 2vw 0 0;
									.client-photo,
									.sto-photo
									{
										background: url(../images/client-photo-bg.png) center no-repeat #f9f9f9;
										border-radius: 50%;
										height: 82px;
										width: 82px;
										margin-right: 1vw;
										cursor: pointer;
										#output
										{
											img
											{
												width: 100%;
												height: auto;
												border-radius: 50%;
											}
										}
									}
									h4,
									.client-photo,
									.sto-photo
									{
										display: inline-block;
										vertical-align: middle;
									}
								}
							}
						}
						.form-footer
						{
							border-top: 1px solid #efefef;
							padding: 1.5vw 0;
							.title-social,
							.social
							{
								display: inline-block;
								margin-bottom: 1vw;
							}
							span:not(.title-social)
							{
								font-weight: 400;
							}
						}
					}
				}
				&.masterReg
				{
					form
					{
						.form-header
						{
							.step
							{
								width: 30%;
							}
							.progress
							{
								width: 169px;
								left: 34.6%;
							}
							.progress2
							{
								right: 12%;
								left: inherit;
							}
						}
						.form-content
						{
							#masterContent1
							{
								.input-group.inline
								{
									*
									{
										display: inline-block;
									}
									h3
									{
										color: #4a9cde;
										font: 700 14px ProximaNova;
										width: auto;
										margin-left: 1vw;
									}
									input
									{
										display: none;
									}
									input:checked + label:before
									{
										background-color: #35e07e;
									}
									label
									{
										font: 700 14px ProximaNova;
										position: relative;
										margin-left: 35px;
									}
									label:before
									{
										content: "";
										position: absolute;
										width: 21px;
										height: 21px;
										border: 3px solid #fff;
										border-radius: 50%;
										box-shadow: 0px 0px 0.1px 0.1px rgba(0, 0, 0, 0.5);
										background-color: #ffffff;
										left: -15px;
										top: -2px;
									}
								}
								.addTelNumber
								{
									cursor: pointer;
									text-align: left;
									padding-left: 1vw;
									font-weight: 400;
									width: 50%;
									i
									{
										color: #35e07e;
									}
								}
								.addedTel
								{
									.input-field
									{
										float: none;
										position: relative;
										i
										{
											visibility: visible;
											position: absolute;
											right: 15px;
											top: 15px;
											color: red;
										}
									}
								}
							}
							#masterContent2
							{
								.sto
								{
									display: none;
								}
								.photo
								{
									float: none;
									margin: auto;
									margin-bottom: 1vw;
									.sto-photo
									{
										background: url(../images/add-photo-sto-bg.png) center no-repeat #efefef;
									}
								}
								.input-field
								{
									float: left;
									input
									{
										font-size: 14px;
									}
									&.schedule
									{
										position: relative;
										input
										{
											width: 83px;
											margin-left: 10px;
											font-size: 12px;
											padding: 0 5px;
											text-align: center;
										}
										.drop-down
										{
											position: absolute;
											width: 100%;
											background: #fff;
											top: calc(100% + 10px);
											left: 0;
											border-radius: 10px;
											box-shadow: 0px 7px 35px 0.00px rgba(0, 0, 0, 0.07);
											.start,
											.end
											{
												display: inline-block;
												button
												{
													width: 83px;
													height: 45px;
													font-size: 14px;
													font-weight: 700;
													span:not(.name)
													{
														float: right;
														i
														{
															color: rgba(0, 0, 0, 0.5);
															margin-left: 5px;
															font-size: 12px;
														}
													}
												}
												.dropdown-menu
												{
													min-width: 100%;
													max-height: 140px;
													overflow-y: scroll;
												}
											}
											.green
											{
												width: 59px;
												height: 45px;
												a
												{
													font-size: 15px;
												}
											}
											.tire
											{
												display: inline-block;
												padding: 0 5px;
											}
											.round-the-clock
											{
												//												overflow: hidden;
												text-align: left;
												padding: 10px;
												label
												{
													font-weight: 400;
													position: relative;
													margin-left: 40px;
												}
												label:before
												{
													position: absolute;
													content: '';
													height: 21px;
													width: 21px;
													box-shadow: 0px 0px 1px 0px #000;
													left: -30px;
													background: #fff;
													border-radius: 50%;
													border: 3px solid #fff;
												}
												input:checked + label:before
												{
													background: #42c942;
												}
											}
										}
										.drop-down.hours,
										.drop-down.days
										{
											display: none;
										}
									}
									&.addres
									{
										display: flex;
										justify-content: space-between;
										input
										{
											width: 192px;
										}
										input:nth-of-type(2)
										{
											width: 79px;
											//											margin-left: 20px;
										}
									}
								}
								.addAddres
								{
									float: right;
									width: calc(50% - 1vw);
									text-align: left;
									font-weight: 400;
									cursor: pointer;
									i
									{
										color: #35e07e;
										margin-left: 0.5vw;
									}
								}
								[name="description"]
								{
									width: calc(100% - 2vw);
									height: 85px;
									resize: none;
									padding: 20px 25px;
									border-radius: 10px;
									margin: 1vw;
									border: 1px solid #efefef;
								}
								.button.green
								{
									width: 152px;
								}
							}
							.input-field.tel
							{
								i
								{
									visibility: hidden;
								}
							}
							.addedAdres
							{
								position: relative;
								margin-right: 1vw;
								text-align: right;
								.addedAdres-inner
								{
									position: relative;
									margin-left: 50%;
									padding-top: 15px;
									i
									{
										position: absolute;
										top: -5px;
										right: 10px;
										transform: rotate(0deg);
										color: red;
										cursor: pointer;
									}
									.input-field
									{
										float: none !important;
										width: calc(100% - 1vw)!important;
										margin: 0 0 .8vw &.addres
										{
											margin: 0 1vw 0 0;
										}
									}
								}
							}
							#masterContent3
							{
								display: none;
								.button.green
								{
									width: 202px;
								}
								.skills
								{
									border: 1px solid #efefef;
									border-radius: 10px;
									margin-bottom: 35px;
									.skills-header
									{
										border-bottom: 1px solid #efefef;
										display: flex;
										justify-content: space-between;
										align-content: center;
										align-items: center;
										padding: 0 15px 0 20px;
										h3
										{
											font: 700 14px ProximaNova;
											text-align: left;
										}
										div
										{
											color: #4a9cde;
											font: 700 12px ProximaNova;
											min-width: 150px;
										}
									}
									.skills-body
									{
										ul
										{
											padding: 15px 0;
											overflow: hidden;
											li
											{
												padding: 10px 0 10px 15px;
												margin: 2px 7px;
												text-align: left;
												float: left;
												width: 27%;
												box-sizing: border-box;
												font: 700 14px ProximaNova;
												border-radius: 10px;
												overflow: hidden;
												cursor: pointer;
												i
												{
													display: none;
													float: right;
													margin-right: 10px;
												}
												.fa-plus
												{
													color: #36e37f;
												}
												.fa-minus
												{
													color: #fff;
												}
											}
											li:nth-of-type(3n)
											{
												width: 38%;
											}
											li:hover
											{
												background: #f9f9f9;
												i.fa-plus
												{
													display: inline-block;
												}
												i.fa-minus
												{
													display: none;
												}
											}
											li.active
											{
												background: #36e37f;
												color: #fff;
												i.fa-minus
												{
													display: inline-block;
												}
												i.fa-plus
												{
													display: none;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.kind-of-registration {
					h2 {
						margin-bottom: 25px;
					}
					h3 {
						font: 300 18px ProximaNova;
					}
					.inner-win {
						overflow: hidden;
						margin-top: 95px;
						.left-side, .right-side {
							width: 50%;
							box-sizing: border-box;
							float: left;
							padding: 20px 155px;
							i {
								color: #7C7C7C;
							}
							i:before {
								font-size: 87px;
							}
							h3 {
								margin: 75px auto 55px;
								font: 400 30px RobotoCondensed;
							}
							p {
								color: #757575;
								font: 300 18px ProximaNova;
								margin-bottom: 55px;
							}
							.button {
								width: 123px;
								a {
									font-size: 18px;
									line-height: 2;
								}
							}
						}
						.left-side {
							position: relative;
							border-right: 2px solid #bfbfbf;
							
						}
						.left-side:before {
							position: absolute;
							content: "или";
							top: 150px;
							right: -50px;
							width: 100px;
							height: 100px;
							padding-top: 35px;
							background: #fff;
							border-radius: 50%;
							color: #757575;
							font: 400 24px ProximaNova;
						}
					}
				}
			}
			.dropdown-menu 
			{
				a:hover {

					background: -webkit-linear-gradient(bottom, #2ecc71 0%, #37e581 100%) !important;
					background: -o-linear-gradient(bottom, #2ecc71 0%, #37e581 100%) !important;
					background: linear-gradient(to top, #2ecc71 0%, #37e581 100%) !important;
					color: #fff !important;
				}
			}
