@charset "UTF-8";
/*START RESET*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  outline: 0 none; }

body {
  line-height: 1;
  background: #fff;
  font-family: ProximaNova;
  color: #2e2e2e; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

/*END RESET*/
header.landing-page {
  background: transparent;
  position: fixed;
  width: 100%;
  display: flex;
  transition: all 0.8s ease; }
  header.landing-page
.wrapper {
    margin: auto;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header.landing-page
.wrapper
.logo {
      margin-left: 2%; }
      header.landing-page
.wrapper
.logo
img {
        height: 1.5vw;
        width: 6vw; }
    header.landing-page
.wrapper
.right-side {
      width: calc(100% - 10%);
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end; }
      header.landing-page
.wrapper
.right-side
.lang
button {
        box-shadow: none;
        border: none;
        background: transparent;
        color: #fff;
        font: 400 14px ProximaNova; }
        header.landing-page
.wrapper
.right-side
.lang
button
span {
          margin-left: 10px; }
          header.landing-page
.wrapper
.right-side
.lang
button
span
i {
            color: #ffffff; }
          header.landing-page
.wrapper
.right-side
.lang
button
span
i:before {
            font-size: 12px; }
      header.landing-page
.wrapper
.right-side
.lang
ul {
        min-width: 80px !important; }
      header.landing-page
.wrapper
.right-side
.enter {
        margin: 0 2%; }
        header.landing-page
.wrapper
.right-side
.enter
a {
          color: #fff;
          font: 700 14px ProximaNova; }
      header.landing-page
.wrapper
.right-side
.button.transparent {
        margin-left: 2%; }

header.fixed-scroll,
header.open-modal-header {
  background: #fff;
  box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.25);
  z-index: 10000;
  transition: all 0.8s ease-out; }
  header.fixed-scroll
.wrapper
.right-side
.lang
button
,
  header.open-modal-header
.wrapper
.right-side
.lang
button {
    color: #000; }
    header.fixed-scroll
.wrapper
.right-side
.lang
button
span
i
,
    header.open-modal-header
.wrapper
.right-side
.lang
button
span
i {
      color: #000; }
  header.fixed-scroll
.wrapper
.right-side
.enter
a
,
  header.open-modal-header
.wrapper
.right-side
.enter
a {
    color: #000; }
  header.fixed-scroll
.wrapper
.right-side
.button.transparent
,
  header.open-modal-header
.wrapper
.right-side
.button.transparent {
    border-color: #2ecc71; }
    header.fixed-scroll
.wrapper
.right-side
.button.transparent
a
,
    header.open-modal-header
.wrapper
.right-side
.button.transparent
a {
      color: #2ecc71; }
  header.fixed-scroll
.wrapper
.right-side
.button.transparent:hover
,
  header.open-modal-header
.wrapper
.right-side
.button.transparent:hover {
    border-color: #2ab966;
    background: rgba(42, 185, 102, 0.1); }
    header.fixed-scroll
.wrapper
.right-side
.button.transparent:hover
a
,
    header.open-modal-header
.wrapper
.right-side
.button.transparent:hover
a {
      color: #2ab966; }

header.open-modal-header {
  transition: all 1.8s ease-out;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

header.open-modal-header + main .banner {
  margin-top: 100%;
  transition: all 1.8s ease-out; }

footer.landing-page .footer-top {
  font: 600 16px ProximaNova;
  background-color: #eee;
  padding: 3vw; }
  footer.landing-page .footer-top ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 3vw; }
    footer.landing-page .footer-top ul span {
      color: #1189d9; }
    footer.landing-page .footer-top ul li {
      font: 600 14px;
      padding-top: 1vw; }

footer.landing-page .footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 2vw 3vw; }
  footer.landing-page .footer-bottom .left-side {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 49% !important; }
    footer.landing-page .footer-bottom .left-side .social {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 0.5vw; }
      footer.landing-page .footer-bottom .left-side .social > div {
        display: flex;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #3b5998;
        margin-left: 1vw; }
        footer.landing-page .footer-bottom .left-side .social > div i {
          margin: auto; }
        footer.landing-page .footer-bottom .left-side .social > div.facebook i:before {
          color: #3b5998; }
        footer.landing-page .footer-bottom .left-side .social > div.vk {
          border-color: #45688e; }
          footer.landing-page .footer-bottom .left-side .social > div.vk i:before {
            color: #45688e; }
        footer.landing-page .footer-bottom .left-side .social > div.ok {
          border-color: #f6881f; }
          footer.landing-page .footer-bottom .left-side .social > div.ok i:before {
            color: #f6881f; }
  footer.landing-page .footer-bottom .right-side {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 49%; }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Custom, iPhone Retina */
main .section-top {
  overflow: hidden;
  max-height: 100vh; }

main
.banner {
  background: url(../images/landing-banner.png) top left no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 0;
  transition: all 0.8s ease; }
  main
.banner
.baner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; }
  main
.banner
.banner-inner {
    margin: auto;
    text-align: center; }
    main
.banner
.banner-inner
h1 {
      color: #ffffff;
      font: 700 60px RobotoCondensed;
      margin: auto; }
    main
.banner
.banner-inner
.input-group {
      width: 55%;
      max-width: 555px;
      margin: 3% auto; }
      main
.banner
.banner-inner
.input-group input,
      main
.banner
.banner-inner
.input-group
button {
        height: 55px;
        border-radius: 10px; }
      main
.banner
.banner-inner
.input-group
button {
        width: 67px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: -webkit-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
        background: -moz-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
        background: -o-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
        background: -ms-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
        background: linear-gradient(0deg, #2ecc71 0%, #37e581 100%); }
        main
.banner
.banner-inner
.input-group
button
i {
          color: #fff; }
        main
.banner
.banner-inner
.input-group
button
i:before {
          font-size: 18px; }
      main
.banner
.banner-inner
.input-group
input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: #7d7d7d;
        font: 400 16px ProximaNova;
        padding-left: 3%;
        width: calc(100% - 175px);
        border: 0; }
      main
.banner
.banner-inner
.input-group
.btn-group {
        width: 175px;
        background: #e7e7e7; }
        main
.banner
.banner-inner
.input-group
.btn-group
button {
          border-radius: 0;
          background: none;
          border: 0;
          width: 100%;
          text-align: left;
          overflow: hidden;
          color: #000;
          font: 400 14px ProximaNova; }
          main
.banner
.banner-inner
.input-group
.btn-group
button
span {
            float: right;
            margin-right: 5%; }
            main
.banner
.banner-inner
.input-group
.btn-group
button
span
i {
              color: #7d7d7d; }
            main
.banner
.banner-inner
.input-group
.btn-group
button
span
i:before {
              font-size: 16px; }
        main
.banner
.banner-inner
.input-group
.btn-group
.dropdown-menu {
          width: 175px;
          margin-top: -1px;
          border-top-right-radius: 0;
          border-top-left-radius: 0; }
          main
.banner
.banner-inner
.input-group
.btn-group
.dropdown-menu
a {
            font: 400 16px ProximaNova;
            padding: 4% 10%; }

main
.masters {
  padding: 3vw;
  text-align: center;
  background: #fcfcfc;
  position: relative; }
  main
.masters
.row {
    position: relative; }
  main
.masters
h2 {
    color: #000000;
    font: 700 30px RobotoCondensed; }
  main
.masters
.masters-slider {
    margin-top: 3vw;
    overflow: hidden; }
    main
.masters
.masters-slider
.master {
      box-shadow: 0px 7px 35px 0px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 20px; }
      main
.masters
.masters-slider
.master
img {
        height: 8vw;
        width: 10vw;
        margin: 1vw; }
      main
.masters
.masters-slider
.master
.name-sto {
        color: #000;
        font: 700 16px ProximaNova;
        margin-bottom: .8vw; }
      main
.masters
.masters-slider
.master
.stars {
        margin-bottom: .3vw; }
        main
.masters
.masters-slider
.master
.stars
li {
          display: inline-block; }
          main
.masters
.masters-slider
.master
.stars
li
i:before {
            color: #f1c40f; }
      main
.masters
.masters-slider
.master
.evaluation {
        font-size: 12px; }
      main
.masters
.masters-slider
.master
.location {
        text-align: center;
        margin: 1.5vw auto; }
    main
.masters
.masters-slider
.slick-arrow {
      top: calc(3vw + 30px);
      right: 7vw;
      position: absolute;
      height: 55px;
      line-height: 3.5;
      width: 4vw;
      border: 1px solid #ccc;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      background: #fff; }
      main
.masters
.masters-slider
.slick-arrow
i {
        color: #58d68d; }
    main
.masters
.masters-slider
.slick-next {
      right: 3vw;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px; }

main
.advantages {
  background-color: #f8f8f8;
  padding: 0 2vw;
  overflow: hidden; }
  main
.advantages
.advantage {
    font: 700 16px ProximaNova;
    text-align: center;
    padding: 3vh; }
    main
.advantages
.advantage
img {
      width: 173px;
      height: 171px;
      margin: 2vh auto 3vh; }
    main
.advantages
.advantage
.description {
      font-weight: 300;
      margin-top: 2vh; }

main
.last-orders {
  padding: 3vw;
  text-align: center;
  background-color: #fcfcfc; }
  main
.last-orders
h2 {
    font: 700 30px RobotoCondensed; }
  main
.last-orders
.order {
    text-align: left;
    font: 300 16px ProximaNova;
    padding: 3vw;
    margin: 3vw 0;
    border-radius: 10px;
    box-shadow: 0px 7px 35px 0px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    main
.last-orders
.order
.order-slatus {
      display: none;
      background-color: #f56a4b;
      padding: 0.5vw 3vw;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      main
.last-orders
.order
.order-slatus
span {
        color: #fff;
        margin: auto 0; }
      main
.last-orders
.order
.order-slatus
img {
        margin-right: 1vw; }
    main
.last-orders
.order
.order-slatus.urgent {
      display: flex;
      align-content: center;
      align-items: center; }
    main
.last-orders
.order .order-slatus.urgent + .left-side h4,
    main
.last-orders
.order
.order-slatus.urgent ~ .right-side .cost {
      margin-top: 30px; }
    main
.last-orders
.order
.left-side {
      width: 75%;
      float: left; }
      main
.last-orders
.order
.left-side
h4 {
        font-weight: 600;
        font-size: 20px; }
      main
.last-orders
.order
.left-side
.description {
        padding: 1vw 0 1.5vw; }
        main
.last-orders
.order
.left-side
.description
a {
          color: #2ecc71; }
      main
.last-orders
.order
.left-side
.order-info {
        display: flex;
        align-items: center; }
        main
.last-orders
.order
.left-side
.order-info
li {
          align-items: center;
          display: flex;
          margin-right: 3vw;
          font-weight: 700; }
          main
.last-orders
.order
.left-side
.order-info
li
i:before {
            color: #3498db;
            margin-right: 1vw; }
    main
.last-orders
.order
.right-side {
      width: 25%;
      float: left;
      font: 400 1.3vw ProximaNova;
      text-align: right; }
      main
.last-orders
.order
.right-side
.cost {
        margin-bottom: 1.5vw; }
        main
.last-orders
.order
.right-side
.cost
.budget {
          font: 400 15px ProximaNova; }
        main
.last-orders
.order
.right-side
.cost
.sum {
          color: #1189d9;
          font: 700 24px ProximaNova;
          margin-left: .3vw; }
      main
.last-orders
.order
.right-side
.button.green {
        width: 125px;
        visibility: hidden; }
      main
.last-orders
.order
.right-side
.user {
        margin-top: 0.7vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        align-content: flex-end; }
        main
.last-orders
.order
.right-side
.user
img {
          height: 43px;
          width: 43px;
          margin-right: 1vw; }
        main
.last-orders
.order
.right-side
.user
.user-name {
          font: 400 15px ProximaNova; }
  main
.last-orders
.order:hover
.button.green {
    visibility: visible; }

.button {
  width: 165px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  text-align: center; }
  .button
a {
    display: block;
    height: 100%;
    color: #ffffff;
    font: 700 14px ProximaNova; }
    .button
a
span {
      line-height: 3; }
  .button
input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    line-height: 3; }
  .button.green {
    background: -webkit-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
    background: -moz-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
    background: -o-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
    background: -ms-linear-gradient(90deg, #2ecc71 0%, #37e581 100%);
    background: linear-gradient(0deg, #2ecc71 0%, #37e581 100%); }
  .button.transparent {
    border: 3px solid #fff;
    margin-left: 2%; }
    .button.transparent
span {
      line-height: 2.5; }
  .button.transparent.grey {
    border-color: #a0a0a0; }
    .button.transparent.grey
a {
      color: #a0a0a0; }
  .button.grey {
    background: #ededed;
    width: 109px; }
    .button.grey
a {
      color: #474747; }
    .button.grey
i {
      margin-right: .5vw; }
  .button:hover.green {
    background: -webkit-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
    background: -moz-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
    background: -o-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
    background: -ms-linear-gradient(90deg, #2abd68 0%, #30c670 100%);
    background: linear-gradient(90deg, #2abd68 0%, #30c670 100%); }
  .button:hover.grey {
    background: #dadada; }
  .button:hover.transparent.grey {
    border-color: #8d8d8d; }
    .button:hover.transparent.grey
a {
      color: #8d8d8d; }
  .button:hover.transparent {
    background: rgba(218, 218, 218, 0.3); }

.parameters {
  margin-top: 3vw;
  text-align: left; }
  .parameters .city,
  .parameters
.category {
    width: 100%; }
    .parameters .city button,
    .parameters .city
ul
,
    .parameters
.category button,
    .parameters
.category
ul {
      width: 100%;
      text-align: left;
      overflow: hidden;
      color: #000;
      font: 400 16px ProximaNova; }
      .parameters .city button
i
,
      .parameters .city
ul
i
,
      .parameters
.category button
i
,
      .parameters
.category
ul
i {
        float: right; }
    .parameters .city
button
,
    .parameters
.category
button {
      height: 55px; }
  .parameters
.category
ul {
    width: 150%;
    min-width: 850px;
    -moz-column-count: 3;
    /* Для Firefox */
    -webkit-column-count: 3;
    /* Для Safari и Chrome */
    column-count: 3;
    -webkit-column-gap: 0;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 0;
    /* Firefox */
    column-gap: 0;
    padding: 10px 10px 10px 0; }

.orders-list {
  padding: 3vw 0; }

.last-orders .button.transparent.grey {
  width: 190px !important; }

.modal-win {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }
  .modal-win.enter,
  .modal-win.clientReg,
  .modal-win.masterReg,
  .modal-win.kind-of-registration {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: none;
    padding-top: 8vw;
    padding-bottom: 2vw;
    text-align: center;
    font: 700 16px ProximaNova; }
    .modal-win.enter
.row
,
    .modal-win.clientReg
.row
,
    .modal-win.masterReg
.row
,
    .modal-win.kind-of-registration
.row {
      position: relative; }
    .modal-win.enter
h2
,
    .modal-win.clientReg
h2
,
    .modal-win.masterReg
h2
,
    .modal-win.kind-of-registration
h2 {
      font: 700 30px RobotoCondensed;
      margin-bottom: 2vw; }
    .modal-win.enter
.close-modal
,
    .modal-win.clientReg
.close-modal
,
    .modal-win.masterReg
.close-modal
,
    .modal-win.kind-of-registration
.close-modal {
      height: 40px;
      width: 40px;
      line-height: 38px;
      border-radius: 50%;
      border: 1px solid #efefef;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
      .modal-win.enter
.close-modal
i:before
,
      .modal-win.clientReg
.close-modal
i:before
,
      .modal-win.masterReg
.close-modal
i:before
,
      .modal-win.kind-of-registration
.close-modal
i:before {
        color: #efefef; }
    .modal-win.enter
form
,
    .modal-win.clientReg
form
,
    .modal-win.masterReg
form
,
    .modal-win.kind-of-registration
form {
      overflow: hidden;
      width: 360px;
      border-radius: 10px;
      border: 1px solid #efefef;
      margin: 0 auto;
      padding: 2vw; }
      .modal-win.enter
form
h3
,
      .modal-win.clientReg
form
h3
,
      .modal-win.masterReg
form
h3
,
      .modal-win.kind-of-registration
form
h3 {
        padding: 1vw 0; }
      .modal-win.enter
form
.line-bt
,
      .modal-win.clientReg
form
.line-bt
,
      .modal-win.masterReg
form
.line-bt
,
      .modal-win.kind-of-registration
form
.line-bt {
        height: 1px;
        width: 100%;
        background-color: #efefef;
        margin: 2vw 0; }
      .modal-win.enter
form
.social
,
      .modal-win.clientReg
form
.social
,
      .modal-win.masterReg
form
.social
,
      .modal-win.kind-of-registration
form
.social {
        display: flex;
        align-items: center; }
        .modal-win.enter
form
.social
.social-inner
,
        .modal-win.clientReg
form
.social
.social-inner
,
        .modal-win.masterReg
form
.social
.social-inner
,
        .modal-win.kind-of-registration
form
.social
.social-inner {
          margin: auto;
          display: flex; }
          .modal-win.enter
form
.social
.social-inner
.vk
,
          .modal-win.clientReg
form
.social
.social-inner
.vk
,
          .modal-win.masterReg
form
.social
.social-inner
.vk
,
          .modal-win.kind-of-registration
form
.social
.social-inner
.vk {
            background-color: #45688e; }
          .modal-win.enter
form
.social
.social-inner
.ok
,
          .modal-win.clientReg
form
.social
.social-inner
.ok
,
          .modal-win.masterReg
form
.social
.social-inner
.ok
,
          .modal-win.kind-of-registration
form
.social
.social-inner
.ok {
            background-color: #f6881f; }
        .modal-win.enter
form
.social
.social-inner > div
,
        .modal-win.clientReg
form
.social
.social-inner > div
,
        .modal-win.masterReg
form
.social
.social-inner > div
,
        .modal-win.kind-of-registration
form
.social
.social-inner > div {
          display: flex;
          align-items: center;
          border-radius: 50%;
          height: 45px;
          width: 45px;
          background-color: #3b5998;
          margin: 0.5vw; }
          .modal-win.enter
form
.social
.social-inner > div
i
,
          .modal-win.clientReg
form
.social
.social-inner > div
i
,
          .modal-win.masterReg
form
.social
.social-inner > div
i
,
          .modal-win.kind-of-registration
form
.social
.social-inner > div
i {
            margin: auto; }
          .modal-win.enter
form
.social
.social-inner > div
i:before
,
          .modal-win.clientReg
form
.social
.social-inner > div
i:before
,
          .modal-win.masterReg
form
.social
.social-inner > div
i:before
,
          .modal-win.kind-of-registration
form
.social
.social-inner > div
i:before {
            color: #fff;
            font-size: 18px; }
      .modal-win.enter
form
.input-field
,
      .modal-win.clientReg
form
.input-field
,
      .modal-win.masterReg
form
.input-field
,
      .modal-win.kind-of-registration
form
.input-field {
        width: 95%;
        min-width: 28px;
        margin: 0 auto 2vh; }
        .modal-win.enter
form
.input-field
input
,
        .modal-win.clientReg
form
.input-field
input
,
        .modal-win.masterReg
form
.input-field
input
,
        .modal-win.kind-of-registration
form
.input-field
input {
          border-radius: 10px;
          height: 45px;
          border: 1px solid #efefef;
          width: 100%;
          padding: 0 10px; }
      .modal-win.enter
form
.forgot-pasword
,
      .modal-win.clientReg
form
.forgot-pasword
,
      .modal-win.masterReg
form
.forgot-pasword
,
      .modal-win.kind-of-registration
form
.forgot-pasword {
        text-align: center;
        margin: 0 auto 30px; }
        .modal-win.enter
form
.forgot-pasword
a
,
        .modal-win.clientReg
form
.forgot-pasword
a
,
        .modal-win.masterReg
form
.forgot-pasword
a
,
        .modal-win.kind-of-registration
form
.forgot-pasword
a {
          font: 600 12px ProximaNova;
          color: #000; }
      .modal-win.enter
form
.button.green
input
,
      .modal-win.clientReg
form
.button.green
input
,
      .modal-win.masterReg
form
.button.green
input
,
      .modal-win.kind-of-registration
form
.button.green
input {
        height: 40px;
        line-height: 2.5; }
  .modal-win.clientReg,
  .modal-win.masterReg {
    padding-top: 120px; }
    .modal-win.clientReg h2,
    .modal-win.clientReg
h3
,
    .modal-win.masterReg h2,
    .modal-win.masterReg
h3 {
      margin-bottom: 1vw; }
    .modal-win.clientReg
h3
,
    .modal-win.masterReg
h3 {
      font: 300 18px ProximaNova;
      width: 678px;
      margin: auto; }
    .modal-win.clientReg
form
,
    .modal-win.masterReg
form {
      width: 751px;
      margin-top: 2vw;
      padding: 0; }
      .modal-win.clientReg
form
.form-header
,
      .modal-win.masterReg
form
.form-header {
        border-bottom: 1px solid #efefef;
        padding: 1vw 0;
        position: relative; }
        .modal-win.clientReg
form
.form-header
.step
,
        .modal-win.masterReg
form
.form-header
.step {
          width: 43%;
          display: inline-block; }
          .modal-win.clientReg
form
.form-header
.step
.general-info,
          .modal-win.clientReg
form
.form-header
.step
.client-info
,
          .modal-win.masterReg
form
.form-header
.step .general-info,
          .modal-win.masterReg
form
.form-header
.step
.client-info {
            border-radius: 50%;
            border: 2px solid #e5e5e5;
            height: 39px;
            width: 39px;
            margin: auto; }
            .modal-win.clientReg
form
.form-header
.step
.general-info
span
,
            .modal-win.clientReg
form
.form-header
.step
.client-info
span
,
            .modal-win.masterReg
form
.form-header
.step .general-info
span
,
            .modal-win.masterReg
form
.form-header
.step
.client-info
span {
              color: #e5e5e5;
              font: 700 16px ProximaNova;
              line-height: 2; }
          .modal-win.clientReg
form
.form-header
.step
p
,
          .modal-win.masterReg
form
.form-header
.step
p {
            padding-top: 1vw;
            font-weight: 400;
            color: #e5e5e5; }
        .modal-win.clientReg
form
.form-header
.step.active
.general-info,
        .modal-win.clientReg
form
.form-header
.step.active
.client-info
,
        .modal-win.masterReg
form
.form-header
.step.active .general-info,
        .modal-win.masterReg
form
.form-header
.step.active
.client-info {
          border-color: #4a9cde; }
          .modal-win.clientReg
form
.form-header
.step.active
.general-info
span
,
          .modal-win.clientReg
form
.form-header
.step.active
.client-info
span
,
          .modal-win.masterReg
form
.form-header
.step.active .general-info
span
,
          .modal-win.masterReg
form
.form-header
.step.active
.client-info
span {
            color: #4a9cde; }
        .modal-win.clientReg
form
.form-header
.step.active
p
,
        .modal-win.masterReg
form
.form-header
.step.active
p {
          color: #000; }
        .modal-win.clientReg
form
.form-header
.step.step2.active + .progress,
        .modal-win.clientReg
form
.form-header
.step.step3.active + .progress
,
        .modal-win.masterReg
form
.form-header .step.step2.active + .progress,
        .modal-win.masterReg
form
.form-header
.step.step3.active + .progress {
          background: #4a9cde; }
        .modal-win.clientReg
form
.form-header
.progress
,
        .modal-win.masterReg
form
.form-header
.progress {
          height: 3px;
          background: #e5e5e5;
          width: 264px;
          position: absolute;
          left: 50%;
          top: 33%;
          transform: translate(-50%, -50%); }
      .modal-win.clientReg
form
.form-content
,
      .modal-win.masterReg
form
.form-content {
        padding: 2vw; }
        .modal-win.clientReg
form
.form-content
.has-success
,
        .modal-win.masterReg
form
.form-content
.has-success {
          border-color: rgba(56, 196, 116, 0.61); }
        .modal-win.clientReg
form
.form-content
.has-error
,
        .modal-win.masterReg
form
.form-content
.has-error {
          border-color: rgba(196, 56, 56, 0.61); }
        .modal-win.clientReg
form
.form-content
#content1,
        .modal-win.clientReg
form
.form-content
#content2,
        .modal-win.clientReg
form
.form-content
#masterContent1,
        .modal-win.clientReg
form
.form-content
#masterContent2
,
        .modal-win.masterReg
form
.form-content #content1,
        .modal-win.masterReg
form
.form-content #content2,
        .modal-win.masterReg
form
.form-content #masterContent1,
        .modal-win.masterReg
form
.form-content
#masterContent2 {
          overflow: hidden; }
          .modal-win.clientReg
form
.form-content
#content1
.input-field
,
          .modal-win.clientReg
form
.form-content
#content2
.input-field
,
          .modal-win.clientReg
form
.form-content
#masterContent1
.input-field
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.input-field
,
          .modal-win.masterReg
form
.form-content #content1
.input-field
,
          .modal-win.masterReg
form
.form-content #content2
.input-field
,
          .modal-win.masterReg
form
.form-content #masterContent1
.input-field
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field {
            float: left;
            width: calc(50% - 2vw);
            margin: 0 1vw 0.8vw; }
            .modal-win.clientReg
form
.form-content
#content1
.input-field
input
,
            .modal-win.clientReg
form
.form-content
#content2
.input-field
input
,
            .modal-win.clientReg
form
.form-content
#masterContent1
.input-field
input
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.input-field
input
,
            .modal-win.masterReg
form
.form-content #content1
.input-field
input
,
            .modal-win.masterReg
form
.form-content #content2
.input-field
input
,
            .modal-win.masterReg
form
.form-content #masterContent1
.input-field
input
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.input-field
input {
              padding: 0 1vw; }
          .modal-win.clientReg
form
.form-content
#content1
.button
,
          .modal-win.clientReg
form
.form-content
#content2
.button
,
          .modal-win.clientReg
form
.form-content
#masterContent1
.button
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.button
,
          .modal-win.masterReg
form
.form-content #content1
.button
,
          .modal-win.masterReg
form
.form-content #content2
.button
,
          .modal-win.masterReg
form
.form-content #masterContent1
.button
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.button {
            margin-top: 1vw; }
        .modal-win.clientReg
form
.form-content
#content2,
        .modal-win.clientReg
form
.form-content
#masterContent2
,
        .modal-win.masterReg
form
.form-content #content2,
        .modal-win.masterReg
form
.form-content
#masterContent2 {
          display: none; }
          .modal-win.clientReg
form
.form-content
#content2
.input-field
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.input-field
,
          .modal-win.masterReg
form
.form-content #content2
.input-field
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field {
            float: none; }
          .modal-win.clientReg
form
.form-content
#content2
.area
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.area
,
          .modal-win.masterReg
form
.form-content #content2
.area
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.area {
            width: calc(50% - 2vw);
            height: 45px;
            display: block;
            margin: 0 1vw 0.8vw; }
            .modal-win.clientReg
form
.form-content
#content2
.area
button
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.area
button
,
            .modal-win.masterReg
form
.form-content #content2
.area
button
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.area
button {
              width: 100%;
              height: 45px;
              border-radius: 10px;
              border: 1px solid #efefef;
              color: #949494;
              font: 700 16px ProximaNova;
              text-align: left; }
              .modal-win.clientReg
form
.form-content
#content2
.area
button
span
,
              .modal-win.clientReg
form
.form-content
#masterContent2
.area
button
span
,
              .modal-win.masterReg
form
.form-content #content2
.area
button
span
,
              .modal-win.masterReg
form
.form-content
#masterContent2
.area
button
span {
                float: right; }
            .modal-win.clientReg
form
.form-content
#content2
.area
.dropdown-menu
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.area
.dropdown-menu
,
            .modal-win.masterReg
form
.form-content #content2
.area
.dropdown-menu
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.area
.dropdown-menu {
              width: 100%; }
          .modal-win.clientReg
form
.form-content
#content2
.green
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.green
,
          .modal-win.masterReg
form
.form-content #content2
.green
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.green {
            width: 202px;
            margin-left: .5vw; }
            .modal-win.clientReg
form
.form-content
#content2
.green
a
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.green
a
,
            .modal-win.masterReg
form
.form-content #content2
.green
a
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.green
a {
              font-size: 14px; }
          .modal-win.clientReg
form
.form-content
#content2
.photo
,
          .modal-win.clientReg
form
.form-content
#masterContent2
.photo
,
          .modal-win.masterReg
form
.form-content #content2
.photo
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.photo {
            float: right;
            margin: 2.5vw 2vw 0 0; }
            .modal-win.clientReg
form
.form-content
#content2
.photo
.client-photo,
            .modal-win.clientReg
form
.form-content
#content2
.photo
.sto-photo
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.client-photo,
            .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.sto-photo
,
            .modal-win.masterReg
form
.form-content #content2
.photo
.client-photo,
            .modal-win.masterReg
form
.form-content #content2
.photo
.sto-photo
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.photo .client-photo,
            .modal-win.masterReg
form
.form-content
#masterContent2
.photo
.sto-photo {
              background: url(../images/client-photo-bg.png) center no-repeat #f9f9f9;
              border-radius: 50%;
              height: 82px;
              width: 82px;
              margin-right: 1vw;
              cursor: pointer; }
              .modal-win.clientReg
form
.form-content
#content2
.photo
.client-photo
#output
img
,
              .modal-win.clientReg
form
.form-content
#content2
.photo
.sto-photo
#output
img
,
              .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.client-photo
#output
img
,
              .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.sto-photo
#output
img
,
              .modal-win.masterReg
form
.form-content #content2
.photo
.client-photo
#output
img
,
              .modal-win.masterReg
form
.form-content #content2
.photo
.sto-photo
#output
img
,
              .modal-win.masterReg
form
.form-content
#masterContent2
.photo .client-photo
#output
img
,
              .modal-win.masterReg
form
.form-content
#masterContent2
.photo
.sto-photo
#output
img {
                width: 100%;
                height: auto;
                border-radius: 50%; }
            .modal-win.clientReg
form
.form-content
#content2
.photo
h4,
            .modal-win.clientReg
form
.form-content
#content2
.photo
.client-photo,
            .modal-win.clientReg
form
.form-content
#content2
.photo
.sto-photo
,
            .modal-win.clientReg
form
.form-content
#masterContent2
.photo
h4,
            .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.client-photo,
            .modal-win.clientReg
form
.form-content
#masterContent2
.photo
.sto-photo
,
            .modal-win.masterReg
form
.form-content #content2
.photo
h4,
            .modal-win.masterReg
form
.form-content #content2
.photo
.client-photo,
            .modal-win.masterReg
form
.form-content #content2
.photo
.sto-photo
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.photo h4,
            .modal-win.masterReg
form
.form-content
#masterContent2
.photo .client-photo,
            .modal-win.masterReg
form
.form-content
#masterContent2
.photo
.sto-photo {
              display: inline-block;
              vertical-align: middle; }
      .modal-win.clientReg
form
.form-footer
,
      .modal-win.masterReg
form
.form-footer {
        border-top: 1px solid #efefef;
        padding: 1.5vw 0; }
        .modal-win.clientReg
form
.form-footer
.title-social,
        .modal-win.clientReg
form
.form-footer
.social
,
        .modal-win.masterReg
form
.form-footer .title-social,
        .modal-win.masterReg
form
.form-footer
.social {
          display: inline-block;
          margin-bottom: 1vw; }
        .modal-win.clientReg
form
.form-footer
span:not(.title-social)
,
        .modal-win.masterReg
form
.form-footer
span:not(.title-social) {
          font-weight: 400; }
  .modal-win.masterReg
form
.form-header
.step {
    width: 30%; }
  .modal-win.masterReg
form
.form-header
.progress {
    width: 169px;
    left: 34.6%; }
  .modal-win.masterReg
form
.form-header
.progress2 {
    right: 12%;
    left: inherit; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
* {
    display: inline-block; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
h3 {
    color: #4a9cde;
    font: 700 14px ProximaNova;
    width: auto;
    margin-left: 1vw; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
input {
    display: none; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
input:checked + label:before {
    background-color: #35e07e; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
label {
    font: 700 14px ProximaNova;
    position: relative;
    margin-left: 35px; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.input-group.inline
label:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 0.1px 0.1px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    left: -15px;
    top: -2px; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.addTelNumber {
    cursor: pointer;
    text-align: left;
    padding-left: 1vw;
    font-weight: 400;
    width: 50%; }
    .modal-win.masterReg
form
.form-content
#masterContent1
.addTelNumber
i {
      color: #35e07e; }
  .modal-win.masterReg
form
.form-content
#masterContent1
.addedTel
.input-field {
    float: none;
    position: relative; }
    .modal-win.masterReg
form
.form-content
#masterContent1
.addedTel
.input-field
i {
      visibility: visible;
      position: absolute;
      right: 15px;
      top: 15px;
      color: red; }
  .modal-win.masterReg
form
.form-content
#masterContent2
.sto {
    display: none; }
  .modal-win.masterReg
form
.form-content
#masterContent2
.photo {
    float: none;
    margin: auto;
    margin-bottom: 1vw; }
    .modal-win.masterReg
form
.form-content
#masterContent2
.photo
.sto-photo {
      background: url(../images/add-photo-sto-bg.png) center no-repeat #efefef; }
  .modal-win.masterReg
form
.form-content
#masterContent2
.input-field {
    float: left; }
    .modal-win.masterReg
form
.form-content
#masterContent2
.input-field
input {
      font-size: 14px; }
    .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule {
      position: relative; }
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
input {
        width: 83px;
        margin-left: 10px;
        font-size: 12px;
        padding: 0 5px;
        text-align: center; }
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down {
        position: absolute;
        width: 100%;
        background: #fff;
        top: calc(100% + 10px);
        left: 0;
        border-radius: 10px;
        box-shadow: 0px 7px 35px 0px rgba(0, 0, 0, 0.07); }
        .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down .start,
        .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.end {
          display: inline-block; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down .start
button
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.end
button {
            width: 83px;
            height: 45px;
            font-size: 14px;
            font-weight: 700; }
            .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down .start
button
span:not(.name)
,
            .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.end
button
span:not(.name) {
              float: right; }
              .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down .start
button
span:not(.name)
i
,
              .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.end
button
span:not(.name)
i {
                color: rgba(0, 0, 0, 0.5);
                margin-left: 5px;
                font-size: 12px; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down .start
.dropdown-menu
,
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.end
.dropdown-menu {
            min-width: 100%;
            max-height: 140px;
            overflow-y: scroll; }
        .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.green {
          width: 59px;
          height: 45px; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.green
a {
            font-size: 15px; }
        .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.tire {
          display: inline-block;
          padding: 0 5px; }
        .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.round-the-clock {
          text-align: left;
          padding: 10px; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.round-the-clock
label {
            font-weight: 400;
            position: relative;
            margin-left: 40px; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.round-the-clock
label:before {
            position: absolute;
            content: '';
            height: 21px;
            width: 21px;
            box-shadow: 0px 0px 1px 0px #000;
            left: -30px;
            background: #fff;
            border-radius: 50%;
            border: 3px solid #fff; }
          .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down
.round-the-clock
input:checked + label:before {
            background: #42c942; }
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule .drop-down.hours,
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.schedule
.drop-down.days {
        display: none; }
    .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.addres {
      display: flex;
      justify-content: space-between; }
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.addres
input {
        width: 192px; }
      .modal-win.masterReg
form
.form-content
#masterContent2
.input-field.addres
input:nth-of-type(2) {
        width: 79px; }
  .modal-win.masterReg
form
.form-content
#masterContent2
.addAddres {
    float: right;
    width: calc(50% - 1vw);
    text-align: left;
    font-weight: 400;
    cursor: pointer; }
    .modal-win.masterReg
form
.form-content
#masterContent2
.addAddres
i {
      color: #35e07e;
      margin-left: 0.5vw; }
  .modal-win.masterReg
form
.form-content
#masterContent2
[name="description"] {
    width: calc(100% - 2vw);
    height: 85px;
    resize: none;
    padding: 20px 25px;
    border-radius: 10px;
    margin: 1vw;
    border: 1px solid #efefef; }
  .modal-win.masterReg
form
.form-content
#masterContent2
.button.green {
    width: 152px; }
  .modal-win.masterReg
form
.form-content
.input-field.tel
i {
    visibility: hidden; }
  .modal-win.masterReg
form
.form-content
.addedAdres {
    position: relative;
    margin-right: 1vw;
    text-align: right; }
    .modal-win.masterReg
form
.form-content
.addedAdres
.addedAdres-inner {
      position: relative;
      margin-left: 50%;
      padding-top: 15px; }
      .modal-win.masterReg
form
.form-content
.addedAdres
.addedAdres-inner
i {
        position: absolute;
        top: -5px;
        right: 10px;
        transform: rotate(0deg);
        color: red;
        cursor: pointer; }
      .modal-win.masterReg
form
.form-content
.addedAdres
.addedAdres-inner
.input-field {
        float: none !important;
        width: calc(100% - 1vw) !important;
        margin: 0 0 0.8vw .modal-win.masterReg form .form-content .addedAdres .addedAdres-inner .input-field;
          margin-margin: 0 1vw 0 0; }
  .modal-win.masterReg
form
.form-content
#masterContent3 {
    display: none; }
    .modal-win.masterReg
form
.form-content
#masterContent3
.button.green {
      width: 202px; }
    .modal-win.masterReg
form
.form-content
#masterContent3
.skills {
      border: 1px solid #efefef;
      border-radius: 10px;
      margin-bottom: 35px; }
      .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-header {
        border-bottom: 1px solid #efefef;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0 15px 0 20px; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-header
h3 {
          font: 700 14px ProximaNova;
          text-align: left; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-header
div {
          color: #4a9cde;
          font: 700 12px ProximaNova;
          min-width: 150px; }
      .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul {
        padding: 15px 0;
        overflow: hidden; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li {
          padding: 10px 0 10px 15px;
          margin: 2px 7px;
          text-align: left;
          float: left;
          width: 27%;
          box-sizing: border-box;
          font: 700 14px ProximaNova;
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li
i {
            display: none;
            float: right;
            margin-right: 10px; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li
.fa-plus {
            color: #36e37f; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li
.fa-minus {
            color: #fff; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li:nth-of-type(3n) {
          width: 38%; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li:hover {
          background: #f9f9f9; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li:hover
i.fa-plus {
            display: inline-block; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li:hover
i.fa-minus {
            display: none; }
        .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li.active {
          background: #36e37f;
          color: #fff; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li.active
i.fa-minus {
            display: inline-block; }
          .modal-win.masterReg
form
.form-content
#masterContent3
.skills
.skills-body
ul
li.active
i.fa-plus {
            display: none; }
  .modal-win.kind-of-registration h2 {
    margin-bottom: 25px; }
  .modal-win.kind-of-registration h3 {
    font: 300 18px ProximaNova; }
  .modal-win.kind-of-registration .inner-win {
    overflow: hidden;
    margin-top: 95px; }
    .modal-win.kind-of-registration .inner-win .left-side, .modal-win.kind-of-registration .inner-win .right-side {
      width: 50%;
      box-sizing: border-box;
      float: left;
      padding: 20px 155px; }
      .modal-win.kind-of-registration .inner-win .left-side i, .modal-win.kind-of-registration .inner-win .right-side i {
        color: #7C7C7C; }
      .modal-win.kind-of-registration .inner-win .left-side i:before, .modal-win.kind-of-registration .inner-win .right-side i:before {
        font-size: 87px; }
      .modal-win.kind-of-registration .inner-win .left-side h3, .modal-win.kind-of-registration .inner-win .right-side h3 {
        margin: 75px auto 55px;
        font: 400 30px RobotoCondensed; }
      .modal-win.kind-of-registration .inner-win .left-side p, .modal-win.kind-of-registration .inner-win .right-side p {
        color: #757575;
        font: 300 18px ProximaNova;
        margin-bottom: 55px; }
      .modal-win.kind-of-registration .inner-win .left-side .button, .modal-win.kind-of-registration .inner-win .right-side .button {
        width: 123px; }
        .modal-win.kind-of-registration .inner-win .left-side .button a, .modal-win.kind-of-registration .inner-win .right-side .button a {
          font-size: 18px;
          line-height: 2; }
    .modal-win.kind-of-registration .inner-win .left-side {
      position: relative;
      border-right: 2px solid #bfbfbf; }
    .modal-win.kind-of-registration .inner-win .left-side:before {
      position: absolute;
      content: "или";
      top: 150px;
      right: -50px;
      width: 100px;
      height: 100px;
      padding-top: 35px;
      background: #fff;
      border-radius: 50%;
      color: #757575;
      font: 400 24px ProximaNova; }

.dropdown-menu a:hover {
  background: -webkit-linear-gradient(bottom, #2ecc71 0%, #37e581 100%) !important;
  background: -o-linear-gradient(bottom, #2ecc71 0%, #37e581 100%) !important;
  background: linear-gradient(to top, #2ecc71 0%, #37e581 100%) !important;
  color: #fff !important; }

/*# sourceMappingURL=main.css.map */